# Node & TypeScript
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.tsbuildinfo

# Build outputs
client/dist/
server/dist/
coverage/

# Local env files
*.env
**/.env
.env*

# Cache & logs
/.npm-cache/
logs/
*.log

# OS & editor files
.DS_Store
Thumbs.db
.vscode/

# Docker
*.pid